<script>
    $(function(){
        setActiveNaveTab("#nav_contact")
    });
</script>

<h3>Contact</h3>
Vous pouvez me contacter par

<ul class="contact_list">
    <li>Téléphone: 02 30 04 50 06</li>
    <li>Fax: 02 30 04 50 07</li>
    <li>Mail: john.appleseed@mail.com</li>
</ul>